@using HomeAssistant.Core.Models
@using HomeAssistant.Core.Models.ShoppingList
@model ShoppingListViewModel

@{
	var shoppingLists = (IEnumerable<ShoppingListViewModel>)ViewBag.ActiveShoppingLists;
	int count = 0;

	Dictionary<string, string> previousPages = new();
	previousPages.Add("Create Shopping List", "#");
	ViewBag.previousPages = previousPages;
}

<link rel="stylesheet" href="~/css/shoplist.css" asp-append-version="true" />

<div class="main-container main-create">
	@if (shoppingLists.Any())
	{
		<div class="info-container info-container-left">
			<div class="left">
				<h2>Active Shopping Lists</h2>
				<div class="bought-products-container">
					@foreach (var list in shoppingLists)
					{
						<div class="accordion" id="m@(count)">
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingOne">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#s@(count)" aria-expanded="false" aria-controls="collapseOne">
										<p class="total-products">Total Products: @list.Products.Count()</p>
										<div class="small-info">
											<p class="smallpfp">
												<img src="/Image/Profile/@(list.UserId)" alt="Profile Picture" />
											</p>
											<p class="name">@list.FirstName @list.LastName</p>
										</div>
										<p>Progress:</p>
										<div class="progress small-progress">
											<div id="@list.UserId" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: @list.Progress%">@list.Progress%</div>
										</div>
										@if (list.StartedOn != null)
										{
											<p>Elapsed time: @((DateTime.Now - list.StartedOn).Value.ToString("hh\\:mm"))</p>
										}
									</button>
								</h2>
								<div id="s@(count++)" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#m@(count)">
									<div class="accordion-body">
										<h3>Products:</h3>
										<ul>
											@foreach (var item in list.Products)
											{
												<li>@item.Name</li>
											}
										</ul>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	}
	<div class="center">
		<h1>Choose Products to buy</h1>
		<div class="input-form">
			<div class="form-outline" data-mdb-input-init>
				<input onkeyup="onInput(this)" type="search" autocomplete="off" id="form1" class="form-control" placeholder="Search for products" aria-label="Search" />
			</div>
			<table class="table table-striped table-hover table-info">
				<tbody class="search-results">
				</tbody>
			</table>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Product Name</th>
					<th scope="col">Category</th>
					<th scope="col">Quantity</th>
					<th scope="col">Price</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody class="added-products">
				@{
					count = 1;
					foreach (var prod in Model.Products)
					{
						<tr id="@prod.Id">
							<th scope="row">@(count++)</th>
							<td class="fs-5"><b>@prod.Name</b></td>
							<td class="category-name">@prod.CategoryName</td>
							<td>@prod.QuantityToBuy</td>
							<td class="price">@($"{prod.Price:f2} lv")</td>
							<td>
								<form method="post" class="delete-form">
									<button class="btn btn-danger" asp-controller="ShoppingList" asp-action="Delete" asp-route-prodId="@prod.Id">
										Delete
									</button>
								</form>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
		<form method="post">
			<button type="submit" class="btn btn-start" asp-controller="ShoppingList" asp-action="StartShopping">Start Shopping</button>
		</form>
	</div>
	@if (Model.OutOfStockProducts.Any())
	{
		<div class="info-container">
			<div class="right out-of-stock-right">
				<h2>Products Out Of Stock</h2>
				<div class="bought-products-container out-of-stock-container">
					@foreach (var prod in Model.OutOfStockProducts)
					{
						<form>
							<a class="btn out-of-stock" onclick="OpenModal(this)" id="@prod.Id" name="@prod.Name">
								<p><b>Name:</b> <span class="fs-5">@prod.Name</span></p>
								<p><b>Category:</b> @prod.ProductCategory.Name</p>
								<p>
									<b>Last added:</b>
									@{
										var duration = DateTime.Now - prod.AddedOn;

										string convertedDuration = "Added ";
										if (duration.TotalDays >= 1)
										{
											convertedDuration += Math.Round(duration.TotalDays) + (Math.Round(duration.TotalDays) == 1 ? " day" : " days") + " ago";
										}
										else if (duration.TotalHours >= 1)
										{
											convertedDuration += Math.Round(duration.TotalHours) + (Math.Round(duration.TotalHours) == 1 ? " hour" : " hours") + " ago";
										}
										else if (duration.TotalMinutes >= 1)
										{
											convertedDuration += Math.Round(duration.TotalMinutes) + (Math.Round(duration.TotalMinutes) == 1 ? " minute" : " minutes") + " ago";
										}
										else
										{
											convertedDuration += " less than a minute ago";
										}
									@convertedDuration
									}
								</p>
							</a>
						</form>
					}
				</div>
			</div>
		</div>
	}
</div>


<div class="modal fade" id="addExistingProductModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Add Product to Shopping List</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form method="post" asp-controller="ShoppingList" asp-action="Product">
				<div class="modal-body">
					<input class="form-control" type="hidden" name="Id" id="productId" />
					<label for="productName">Product Name</label>
					<input class="form-control" disabled type="text" name="Name" id="productName" />
					<div class="modal-input">
						<div>
							<label for="quantity">Number of products</label>
							<input class="form-control" type="number" name="QuantityToBuy" id="quantity" placeholder="Quantity" min="1" step="1" required value="1" autocomplete="off" />
						</div>
						<div>
							<label for="price">Price</label>
							<input class="form-control" type="number" name="Price" id="price" placeholder="Price" min="0" step="any" value="0" autocomplete="off" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Add Product</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="addNonExistentProductModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Add Product to Shopping List</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form method="post" asp-controller="ShoppingList" asp-action="NewProduct">
				<div class="modal-body">
					<input class="form-control" type="hidden" name="Id" id="productId" value="-1" />
					<label for="productName">Product Name</label>
					<input class="form-control" type="text" name="Name" id="productNametoAdd" required />
					<label for="new-product-category">Category</label>
					<select id="new-product-category" name="CategoryName" class="form-control" aria-required="true">
						@foreach (var category in Model.AllCategories)
						{
							<option value="@category.Name">@category.Name</option>
						}
					</select>
					<div class="modal-input">
						<div>
							<label for="quantity">Number of products to buy</label>
							<input class="form-control" type="number" name="QuantityToBuy" id="quantity" placeholder="Quantity" min="1" step="1" required value="1" autocomplete="off" />
						</div>
						<div>
							<label for="price">Price</label>
							<input class="form-control" type="number" name="Price" id="price" placeholder="Price" min="0" step="any" value="0" autocomplete="off" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" onclick="var e=this;setTimeout(function(){e.disabled=true;},0); setTimeout(function(){e.disabled=false;},2000);return true;">
						Add Product
					</button>
				</div>
			</form>
		</div>
	</div>
</div>




@section Scripts {
	<script src="~/js/shoppingListSearch.js" asp-append-version="true"></script>
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
	<script src="~/js/shoppingListSignalR.js" asp-append-version="true"></script>
}

