@using HomeAssistant.Core.Models.Recipe
@using HomeAssistant.Infrastructure.Data.Enums
@model RecipeDetaislViewModel

<link rel="stylesheet" href="~/css/recipe.css" asp-append-version="true" />

@{
	Dictionary<string, string> previousPages = new();

	previousPages.Add("Recipes", "/Recipe/index");
	previousPages.Add("Add", "/Recipe/Add");
	previousPages.Add("Steps", "#");
	ViewBag.previousPages = previousPages;
}

<div class="container2">
	<div>
		<div class="img-container-edit">
			@if (Model.Photo != null && Model.Photo.Length > 0)
			{
				<img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Photo)" />
			}
			else
			{
				<p>No image!</p>
			}
		</div>

		<h2>@Model.Name</h2>
		<p>@Model.Description</p>
	</div>
	<div>

		<h3>Ingredients:</h3>
		<ul class="ingridiants">
			@foreach (var product in Model.Products)
			{
				<li>@(product.Name)(@product.Quantity)</li>
			}
		</ul>
	</div>
</div>

<div class="steps" id="recipe-steps">
	<h3>Add steps for preparing the dish:</h3>
	@{
		int counter = 1;

		foreach (var step in Model.Steps)
		{
			<div class="step">
				<div class="step-identificators">
					<div class="step-controls">
						<form method="post" asp-controller="Recipe" asp-action="ChengeStepPos">
							<input hidden name="recipeId" value="@Model.Id" />
							<input hidden name="oldStepNumber" value="@counter" />
							<input hidden name="newStepNumber" value="@(counter-1)" />

							<button class="btn" @(counter == 1 ? "disabled" : "")>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by  - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z" /></svg>
							</button>
						</form>
						<form method="post" asp-controller="Recipe" asp-action="ChengeStepPos">
							<input hidden name="recipeId" value="@Model.Id" />
							<input hidden name="oldStepNumber" value="@counter" />
							<input hidden name="newStepNumber" value="@(counter+1)" />
							<button class="btn" @(counter == Model.Steps.Count() ? "disabled" : "")>
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by  - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z" /></svg>
							</button>
						</form>
					</div>


					<p>Step @(counter++):</p>
					@switch (@step.Type)
					{
						case StepType.NormalStep:
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M192 0c-41.8 0-77.4 26.7-90.5 64H64C28.7 64 0 92.7 0 128V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H282.5C269.4 26.7 233.8 0 192 0zm0 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64zM72 272a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zm104-16H304c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16s7.2-16 16-16zM72 368a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zm88 0c0-8.8 7.2-16 16-16H304c8.8 0 16 7.2 16 16s-7.2 16-16 16H176c-8.8 0-16-7.2-16-16z" /></svg>
							break;
						case StepType.TimerStep:
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M32 0C14.3 0 0 14.3 0 32S14.3 64 32 64V75c0 42.4 16.9 83.1 46.9 113.1L146.7 256 78.9 323.9C48.9 353.9 32 394.6 32 437v11c-17.7 0-32 14.3-32 32s14.3 32 32 32H64 320h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V437c0-42.4-16.9-83.1-46.9-113.1L237.3 256l67.9-67.9c30-30 46.9-70.7 46.9-113.1V64c17.7 0 32-14.3 32-32s-14.3-32-32-32H320 64 32zM96 75V64H288V75c0 19-5.6 37.4-16 53H112c-10.3-15.6-16-34-16-53zm16 309c3.5-5.3 7.6-10.3 12.1-14.9L192 301.3l67.9 67.9c4.6 4.6 8.6 9.6 12.1 14.9H112z" /></svg>
							break;
					}
				</div>
				<p title="@step.Name">@step.Name</p>
				<div class="step-actions">
					<a class="btn btn-warning" asp-controller="Recipe" asp-action="EditStep" asp-route-recipeId="@Model.Id" asp-route-stepNumber="@(counter-1)">
						<svg class="edit-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by  - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" /></svg>
					</a>
					<form method="post" asp-controller="Recipe" asp-action="DeleteStep">
						<input hidden name="recipeId" value="@Model.Id" />
						<input hidden name="stepNumber" value="@(counter-1)" />
						<button class="btn btn-danger">
							<svg class="edit-svg" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by  - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z" /></svg>
						</button>
					</form>
				</div>
			</div>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by  - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M246.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 402.7 361.4 265.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-160 160zm160-352l-160 160c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 210.7 361.4 73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3z" /></svg>
		}
	}
	<div class="new-step">
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Add Recipe Step
			</button>
			<ul class="dropdown-menu">
				@foreach (StepType option in Enum.GetValues(typeof(StepType)))
				{
					<li>
						<a class="dropdown-item text-center" asp-controller="Recipe" asp-action="Add@(option.ToString())" asp-route-recipeId="@Model.Id">
							@(option == StepType.TimerStep ? "Timer" : "Task")
						</a>
					</li>
				}
			</ul>

		</div>
	</div>
</div>
<a type="submit" class="btn btn-primary redirect-to-recipes" asp-asp-controller="Recipe" asp-action="Index">Finish Changes</a>

@section Scripts {
	<script src="~/js/animations.js" asp-append-version="true"></script>
}
