@using HomeAssistant.Core.Models.Recipe
@model StepFormViewModel


<h1>Step Number @(Model.PreviousStep == null ? 1 : Model.PreviousStep.StepNumber++)</h1>

@if (Model.PreviousStep != null)
{
	<div class="prev-step">
		<h2>Previous Step Number (@Model.PreviousStep.StepNumber)</h2>
		<h3>@Model.PreviousStep.Name</h3>
		<p>@Model.PreviousStep.Description</p>
	</div>
}

<form method="post" asp-controller="Recipe" asp-action="AddTimerStep">
	
	<div class="col">
		<input hidden asp-for="RecipeId" value="@ViewBag.recipeId" />
		<div class="col-md-12">
			<label asp-for="Name" class="form-label">What is this step about</label>
			<input asp-for="Name" class="form-control">
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="col-md-12">
			<label asp-for="Description" class="form-label">Write a detailed description for this step</label>
			<textarea class="form-control" name="Description" rows="3"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>

		<div class="col-md-12">
			<label asp-for="Duration" class="form-label"></label>
			<input asp-for="Duration" required class="form-control">
			<span asp-validation-for="Duration" class="text-danger"></span>
		</div>


	</div>
	<button type="submit" class="btn btn-primary">Next</button>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
