@using HomeAssistant.Core.Models.Recipe
@using HomeAssistant.Infrastructure.Data.Enums
@model StepFormViewModel

@{
	Dictionary<string, string> previousPages = new();

	previousPages.Add("Recipes", "/Recipe/index");
	previousPages.Add("Add", "/Recipe/Add");
	previousPages.Add("Steps", $"/Recipe/AddSteps?recipeId={Model.RecipeId}");
	previousPages.Add("Edit Step", $"#");
	ViewBag.previousPages = previousPages;


}


<h1>Step Number @(Model.PreviousStep == null ? 1 : Model.PreviousStep.StepNumber++)</h1>

<form method="post" asp-controller="Recipe" asp-action="EditStep">
	@if (Model.Products != null&&Model.StepType==StepType.NormalStep)
	{
		<div class="prod-to-include">
			<h2>Select products for this step</h2>
			@foreach (var item in Model.Products)
			{
				<div class="form-check">
					<input id="s(@item.Id)" @(Model.SelectedProductIds.Contains(item.Id) ? "checked" : "") name="SelectedProductIds" class="form-check-input" type="checkbox" value="@item.Id">
					<label class="form-check-label" for="s(@item.Id)">
						@item.Name
					</label>
				</div>
			}
		</div>
	}
	<div class="col">
		<input hidden asp-for="RecipeId"/>
		<input hidden asp-for="StepNumber" />
		<input hidden asp-for="StepType"/>
		<div class="col-md-12">
			<label asp-for="Name" class="form-label">What is this step about</label>
			<input asp-for="Name" class="form-control">
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="col-md-12">
			<label asp-for="Description" class="form-label">Write a detailed description for this step</label>
			<textarea asp-for="Description" class="form-control" name="Description" rows="3"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>

		@if (Model.StepType==StepType.TimerStep)
		{
			<div class="col-md-12">
				<label asp-for="Duration" class="form-label"></label>
				<input asp-for="Duration" required class="form-control">
				<span asp-validation-for="Duration" class="text-danger" min="1" step="1" value="1" autocomplete="off"></span>
			</div>
		}		
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
