@using HomeAssistant.Core.Models.Recipe
@using HomeAssistant.Infrastructure.Data.Enums
@model StepDetailsViewModel

<link rel="stylesheet" href="~/css/recipe.css" asp-append-version="true" />

@{
	Dictionary<string, string> previousPages = new();

	previousPages.Add("Recipes", "/Recipe/index");
	previousPages.Add("Cook", "#");
	ViewBag.previousPages = previousPages;
}


<div class="main-recipe-view-container">
	<div class="main-recipe-container">
		<div class="step-progress">
			<h3>Progress</h3>
			<h1>@Model.StepNumber / @Model.TotalStepsCount</h1>
		</div>
		<div class="step-content">
			@if (Model.Type == StepType.TimerStep && Model.InitiatedOn != null)
			{
				<audio id="myAudio">
					<source src="~/audio/timer_sound.mp3" type="audio/mpeg">
				</audio>

				if ((DateTime.Now - Model.InitiatedOn).Value.Minutes < Model.Duration.Value)
				{

					TimeSpan remainingTime = (new TimeSpan(0, Model.Duration.Value, 0) - (DateTime.Now - Model.InitiatedOn)).Value;

					int totalmin = (int)remainingTime.TotalMinutes;
					int remainingMinutes = remainingTime.Seconds;

					string formattedTime = $"{totalmin:00}:{remainingMinutes:00}";

					<h1 class="timer">@formattedTime</h1>
				}
				else
				{
					<h1 class="timer">00:00</h1>
				}
			}

			<h1>@Model.Name</h1>

			<p>@Model.Description</p>



		</div>
	</div>
	@if (Model.Products.Any())
	{
		<div class="side-container">
			<h3>Products for Current Step</h3>
			<div class="prod-for-step">
				@foreach (var item in Model.Products)
				{
					<div class="recipe-show-product">@item</div>
				}
			</div>
		</div>

	}
</div>
@if (Model.TotalStepsCount != Model.StepNumber)
{
	<form class="go-next" method="post" asp-controller="Recipe" asp-action="MoveNextStep">
		<input hidden name="recipeId" value="@Model.RecipeId" />
		<button class="btn done" type="submit" id="btnsubmit">
			<p>Click Here or Press SPACE to continue</p>
		</button>
	</form>
}
else
{
	<a class="btn done" asp-controller="Recipe" asp-action="FinishRecipe" asp-route-recipeId="@Model.RecipeId" onclick="disableButton(this)">
		<p>Click Here or Press SPACE to FINISH the recipe</p>
	</a>
}

<script>
	document.addEventListener('keydown', function (event) {
		if (event.code === 'Space' || event.keyCode === 32) {
			event.preventDefault();

			const button = document.querySelector('.done');
			button.click();
		}
	});
</script>

@section Scripts {
	<script>
		function disableButton(button) {
			setTimeout(function () {
				button.style.pointerEvents = "none";
				button.style.cursor = "default";
			}, (10));

		}
	</script>

	<script src="~/js/timer.js" asp-append-version="true"></script>
}