@using HomeAssistant.Core.Models.Recipe
@using HomeAssistant.Infrastructure.Data.Enums
@model StepDetailsViewModel

<link rel="stylesheet" href="~/css/recipe.css" asp-append-version="true" />


<div class="float-container">
	<div class="step-progress">
		<h3>Progress</h3>
		<h1>@Model.StepNumber / @Model.TotalStepsCount</h1>
	</div>

	@if (Model.Products.Any())
	{
		<h3>Products</h3>
	}
	<ul class="prod-for-step">
		@foreach (var item in Model.Products)
		{
			<li>@item</li>
		}
	</ul>
</div>

<div class="step-content">
	@if (Model.Type == StepType.TimerStep && Model.InitiatedOn != null)
	{
		<audio id="myAudio">
			<source src="~/audio/timer_sound.mp3" type="audio/mpeg">
		</audio>

		if ((DateTime.Now - Model.InitiatedOn).Value.Minutes < Model.Duration.Value)
		{
			<h1 class="timer">@((new TimeSpan(0, Model.Duration.Value, 0) - (DateTime.Now - Model.InitiatedOn)).Value.ToString(@"mm\:ss"))</h1>
		}
		else
		{
			<h1 class="timer">00:00</h1>
		}
	}

	<h1>@Model.Name</h1>

	<p>@Model.Description</p>

	@if (Model.TotalStepsCount != Model.StepNumber)
	{
		<form method="post" asp-controller="Recipe" asp-action="MoveNextStep">
			<input hidden name="recipeId" value="@Model.RecipeId" />
			<button class="btn done" type="submit" id="btnsubmit">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" /></svg>
			</button>
		</form>
	}
	else
	{
		<a class="btn btn-primary" asp-controller="Recipe" asp-action="FinishRecipe" asp-route-recipeId="@Model.RecipeId">Finish</a>
	}

</div>


@section Scripts {
	<script src="~/js/timer.js"></script>
}