@using HomeAssistant.Core.Constants
@using HomeAssistant.Core.Models
@model UserDetailsFormViewModel

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<div class="main-container">
	<div class="left">
		<p class="location"></p>
		<h2 class="weather-container"><span class="temp">--</span>C&deg; <img class="weather-icon"><span class="desc"></span></h2>
		<h3>Outfit recommendations:</h3>
		<div class="outfit-container">
			<div class="left-side">
				<img class="hat-svg" src="~/svg/not-available.svg" />
				<p class="hat-desc">Not available!</p>
				<img class="shirt-svg" src="~/svg/not-available.svg" />
				<p class="shirt-desc">Not available!</p>
			</div>
			<div class="right-side">
				<img class="umbrella-svg" src="~/svg/uumbrella-closed.svg" />
				<p class="umbrella-desc">No Umbrella Needed!</p>
			</div>
		</div>
	</div>

	<div class="text-center">
		<div class="greeting">
			@if (DateTime.Now.Hour < 12)
			{
				<h1 class="display-4">Good Morning @Model.FirstName!</h1>
			}
			else if (DateTime.Now.Hour < 18)
			{
				<h1 class="display-4">Good Afternoon @Model.FirstName!</h1>
			}
			else
			{
				<h1 class="display-4">Good Evening @Model.FirstName!</h1>
			}

			<h3>The time is @DateTime.Now.ToString("HH:mm")</h3>
			<h3>@DateTime.Now.ToString("dd/MM/yyyy")</h3>
		</div>
		<div class="main-menu">
			<a class="btn btn-success" asp-controller="Fridge" asp-action="Index">
				<img src="~/svg/fridge.svg" />
				<span>Fridge</span>
			</a>
			<a class="btn btn-success" asp-controller="ShoppingList" asp-action="Index">Shopping List</a>
			<a class="btn btn-success" asp-controller="Recipe" asp-action="Index">Recepies</a>
			<a class="btn btn-success">Messeges</a>
		</div>
	</div>

	<div class="right">
		<h3>Notifications:</h3>
		<div class="notifications">
			@if (!Model.Notifications.Any())
			{
				<p>No notifications!</p>
			}
			@foreach (var notification in Model.Notifications)
			{
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#n@(notification.Id)" aria-expanded="false" aria-controls="@notification.Id">
							<div class="notf-title">
								<p>@notification.Title</p>
								@{
									var duration = DateTime.Now - notification.CreatedOn;

									string convertedDuration = "";
									if (duration.TotalDays >= 1)
									{
										convertedDuration += Math.Round(duration.TotalDays) + (Math.Round(duration.TotalDays) == 1 ? " day" : " days") + " ago";
									}
									else if (duration.TotalHours >= 1)
									{
										convertedDuration += Math.Round(duration.TotalHours) + (Math.Round(duration.TotalHours) == 1 ? " hour" : " hours") + " ago";
									}
									else if (duration.TotalMinutes >= 1)
									{
										convertedDuration += Math.Round(duration.TotalMinutes) + (Math.Round(duration.TotalMinutes) == 1 ? " minute" : " minutes") + " ago";
									}
									else
									{
										convertedDuration += "Less than a minute ago";
									}
									<p class="text-muted">@convertedDuration</p>
								}
								@if (!String.IsNullOrEmpty(notification.Source))
								{
									<figcaption figcaption class="blockquote-footer @notification.Source">
										@notification.Source
									</figcaption>
								}
								else
								{
									<figcaption figcaption class="blockquote-footer">
										System
									</figcaption>
								}
							</div>
							
							<div>								
								<div class="smallpfp">
									<img src="data:image/jpeg;base64,@Convert.ToBase64String(notification.Invoker.Photo)" alt="Profile Picture" />
								</div>
								@notification.Invoker.FirstName
							</div>
						</button>
					</h2>
					<div id="n@(notification.Id)" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							@(Html.Raw(notification.Description.Replace("\r\n", "<br />")))
						</div>
						<a id="b@(notification.Id)" class="btn btn-danger dismiss" onclick="Dismiss(this)">Dismiss</a>
					</div>
				</div>
			}
		</div>
	</div>
</div>


@section Scripts {
	<script src="~/js/weather.js"></script>
	<script src="~/js/signalr/dist/browser/signalr.js"></script>
	<script src="~/js/NotificationsSignalR.js"></script>
}
