@using HomeAssistant.Core.Models
@model UserDetailsFormViewModel

<h1>Edit</h1>

<partial name="/Views/Shared/_ToastPopupPartial.cshtml" />

<form class="row g-3 edituser" method="post" asp-action="Edit">
	<div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
		@if (ViewBag.ImageData != null && ViewBag.ImageData.Length > 0)
		{
			<div class="bigpfp">
				<img src="/Image/Profile/@Model.Id}" alt="User Image" />
			</div>
		}
	</div>
	<div class="formdiv col-md-6 p-5 row flex-column align-items-center justify-content-center">
		<div>
			<label asp-for="FirstName" class="form-label"></label>
			<input asp-for="FirstName" class="form-control" />
			<span asp-validation-for="FirstName" class="text-danger"></span>
		</div>
		
		<div>
			<label asp-for="LastName" class="form-label"></label>
			<input asp-for="LastName" class="form-control" />
			<span asp-validation-for="LastName" class="text-danger"></span>
		</div>

		<div>
			<label asp-for="Username" class="form-label"></label>
			<input asp-for="Username" class="form-control" />
			<span asp-validation-for="Username" class="text-danger"></span>
		</div>
		
		<div>
			<label asp-for="Email" class="form-label"></label>
			<input asp-for="Email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>

		<div class="col-12 d-flex justify-content-center mb-4">
			<button type="submit" class="btn btn-primary">Update Information</button>
		</div>
	</div>
	
	
</form>

@{
	int counter = 1;
}
@if (Model.UserRoles != null)
{
	@foreach (var userRole in Model.UserRoles)
	{
		<form class="row g-3" method="post">
			<input type="hidden" asp-for="Id" value="@Model.Id" />
			<div class="col-md-4">
				<p class="roleTitle">Role @(counter++):</p>
			</div>
			<div class="col-md-4">
				<select disabled asp-for="@Model.SelectedRoleId" class="form-control" aria-required="true">
					@if (Model.AllRoles != null)
					@foreach (var role in Model.AllRoles)
					{
						if (role.Name == userRole)
						{
							<option selected value="@role.Id">@role.Name</option>
						}
					}
				</select>
				<span asp-validation-for="@Model.SelectedRoleId" class="text-danger"></span>
			</div>
			<div class="col-md-4">
				<button type="submit" class="btn btn-danger" asp-action="DeleteRole" asp-route-role="@userRole">Delete</button>
			</div>
		</form>
	}
}
<hr/>
<form class="row g-3" method="post" asp-action="AddRole">
	<input type="hidden" asp-for="Id" value="@Model.Id" />
	<div class="col-md-4">
		<p class="roleTitle">Role @(counter++):</p>
	</div>
	<div class="col-md-4">
		<select asp-for="@Model.SelectedRoleId" class="form-control" aria-required="true">
			<option selected disabled value="">Select Role To Add</option>
			@if (Model.AllRoles!=null)
			@foreach (var role in Model.AllRoles)
			{
				<option value="@role.Id">@role.Name</option>
			}
		</select>
		<span asp-validation-for="@Model.SelectedRoleId" class="text-danger"></span>
	</div>
	<div class="col-md-4">
		<button type="submit" class="btn btn-success" >Add Role</button>
	</div>
</form>

@section SideMenu {
	<partial name="/Views/UserConfiguration/Shared/_SideMenuPartial.cshtml" />
}

@section Scripts {
	<script src="~/js/toastPopup.js"></script>
	<partial name="_ValidationScriptsPartial" />
}