@using HomeAssistant.Core.Models
@using HomeAssistant.Core.Models.User
@model FailedLoginPaginationViewModel

<link rel="stylesheet" href="~/js/leaflet/leaflet.css" />
<link rel="stylesheet" href="~/css/userconfig.css" />

<h1>Failed login user IPs</h1>

<partial name="/Views/Shared/_ToastPopupPartial.cshtml" />

@if (Model.Records.Any())
{
	<table class="table w-100 p-3 table-striped table-hover">
		<thead>
			<tr>
				<th scope="col">IP</th>
				<th scope="col">Last Try DateTime</th>
				<th scope="col">NumberAttempts</th>
			</tr>
		</thead>
		<tbody>
			@{
				foreach (var user in Model.Records)
				{
					<tr id="@user.Ip" class="clickable" onclick="GetIpDetails(this)">
						<td class="col">
							@user.Ip				
						</td>
						<td class="col">@user.LastAttemptOn</td>
						<td class="col">@user.AttemptsCount</td>
						<td>
						<form method="post">
								<input hidden name="ip" value="@user.Ip" />
								<button class="btn btn-danger" asp-controller="UserConfiguration" asp-action="ResetFailedLoginCount">Reset Count</button>
						</form>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
}
else
{
	<h2>There are no records!</h2>
}

@if (Model.TotalPages > 1)
{
	<ul class="pagination">
		<li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
			<a class="page-link" asp-controller="UserConfiguration" asp-action="FailedLogin" asp-route-page="@(Model.CurrentPage-1)">Previous</a>
		</li>
		@for (int i = 1; i <= Model.TotalPages; i++)
		{
			<li class="page-item @(Model.CurrentPage == i ? "active" : "")">
				<a class="page-link" asp-controller="UserConfiguration" asp-action="FailedLogin" asp-route-page="@i">@(i)</a>
			</li>
		}
		<li class="page-item @(Model.CurrentPage >= Model.TotalPages ? "disabled" : "")">
			<a class="page-link" asp-controller="UserConfiguration" asp-action="FailedLogin" asp-route-page="@(Model.CurrentPage+1)">Next</a>
		</li>
	</ul>
}

<button id="open-map-modal" hidden type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#map-modal">
</button>

<div class="modal fade" id="map-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Details for <span id="ipSpan">192.168.0.1</span></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="map-modal-body">
				<div id="map"></div>
				<div class="ip-details">
					<h2>Country</h2>
					<p id="country"></p>
					<h2>City</h2>
					<p id="city"></p>
					<h2>Postal</h2>
					<p id="postal"></p>
					<h2>Lat</h2>
					<p id="lat"></p>
					<h2>Lon</h2>
					<p id="lon"></p>
					<h2>Timezone</h2>
					<p id="timezone"></p>
					<h2>ORG</h2>
					<p id="org"></p>
				</div>
			</div>
		</div>
	</div>
</div>

@section SideMenu {
	<partial name="/Views/UserConfiguration/Shared/_SideMenuPartial.cshtml" />
}

@section Scripts {
	<script src="~/js/leaflet/leaflet.js"></script>
	<script src="~/js/FetchIpDetails.js" asp-append-version="true"></script>
}