@using HomeAssistant.Core.Models
@model IEnumerable<UserDetailsViewModel>

<h1>Users waiting approval</h1>

<partial name="/Views/Shared/_ToastPopupPartial.cshtml" />

@if (Model.Any())
{
	<table class="table w-100 p-3">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Username</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Created on</th>
				<th scope="col">Ip</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			@{
				int counter = 1;
				foreach (var user in Model)
				{
					<tr>
						<th scope="row">@(counter++)</th>
						<td>@user.Username</td>
						<td>@user.FirstName</td>
						<td>@user.LastName</td>
						<td>@user.CreatedOn</td>
						<td>@user.Ip</td>
						<td class="formCol">
							<form asp-action="ApproveById" asp-route-Id="@user.Id" method="post">
								
								<button type="submit" class="btn btn-success">Approve</button>
							</form>
							<form asp-action="DeleteById" asp-route-Id="@user.Id" method="post">
								
								<button type="submit" class="btn btn-danger">Delete</button>
							</form>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
}
else
{
	<hr />
	<h2>No more users waiting approval!</h2>
}

@section SideMenu {
	<partial name="/Views/UserConfiguration/Shared/_SideMenuPartial.cshtml" />
}

@section Scripts{
	<script src="~/js/toastPopup.js" asp-append-version="true"></script>
}