@using HomeAssistant.Core.Models.Message
@model ChatDetailsViewModel

<div class="messages-container">
	@foreach (var message in Model.Messages)
	{
		if (message.UserId == Model.currentUserId)
		{
			<div class="current-user-message">
				<div>
					<p>@message.MessageContent</p>
					<p>@message.CreatedOn</p>
				</div>
				<div class="smallpfp" asp-area="Identity" asp-page="/Account/Manage/Index">
					<img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.currentUserPhoto)" alt="Profile Picture" />
				</div>
			</div>
		}
		else
		{
			<div class="other-user-message">
				<div class="smallpfp" asp-area="Identity" asp-page="/Account/Manage/Index">
					<img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.UserPhoto2)" alt="Profile Picture" />
				</div>
				<div>
					<p>@message.MessageContent</p>
					<p>@message.CreatedOn</p>
				</div>
			</div>
		}
	}
</div>
<div>
	<input hidden type="text" id="currentUserPhoto" value="data:image/jpeg;base64,@Convert.ToBase64String(Model.currentUserPhoto)" />
	<input hidden type="text" id="otherUserPhoto" value="data:image/jpeg;base64,@Convert.ToBase64String(Model.UserPhoto2)" />
	<input hidden type="text" id="chatRoomId" value="@Model.ChatRoomId" />
	<input hidden type="text" id="recipientId" value="@Model.UserId2" />
	<input id="messageToSend" type="text" />
	<button disabled type="submit" class="btn btn-primary sendBtn" onclick="Send()">send</button>
</div>


@section Scripts {
	<script src="~/js/signalr/dist/browser/signalr.js"></script>
	<script src="~/js/MessageSignalR.js"></script>
}